
@font-face {
    font-family: 'Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --text: #14171A;
    --textaccent: #1DA1F2;
    --accent: #1DA1F2;
    --accent-gradient: #ffe2e8;
    --green: #45d07a;
    --blue: #1DA1F2;
    --pink: #f09fb6;
    --darkgray: #657786;
    --gray: #AAB8C2;
    --lightgray: #E1E8ED;
    --white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Regular';
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 2px;
    color: var(--text);
  }

h1 {
    font-size: 1.7em;
    margin-top: 0.5em;
    color: var(--darkgray);
}

h2 {
    font-size: 1.4em;
    color: var(--darkgray);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bold';
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    margin: 0 10px;
}

body {
    height: 100vh;
    overflow: hidden;
}

.whole_container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.logo {
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 600px;
    height: 60px;
    background-color: var(--text);
    color: var(--accent-gradient);
    font-size: 2rem;
    border-radius: 0 0 15px 15px;
    text-align: center;
}

.logo span {
    font-size: inherit;
    color: var(--accent);
}

.nav {
    position: fixed;
    width: 100%;
    max-width: 600px;
    height: 60px;
    bottom: 0;
    background-color: var(--text);
    display: flex;
    justify-content: space-around;
    border-radius: 15px 15px 0 0;
}

.nav_item {
    margin-top: 5px;
    font-size: 2rem;
}

.nav_item i {
    color: var(--accent);
    font-size: 2rem; 
}

.nav_add {
    height: 80px;
    width: 80px;
    margin: -10px;
    border-radius: 50%;
    background-color: var(--accent);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_add i {
    font-size: 2.3rem;
    color: var(--white);
}

canvas {
    width: 10000px;
    height: 100px;
    border-radius: 5px;
    background-color: var(--lightgray);
    margin-bottom: 5px;
}

.song {
    margin-top: 100px;
    transform: translate(min(calc( 300px - 50vw ), 0px), 0);
    width: 100vw;
    display: flex;
}

.info {
    width: 50%;
    max-width: 256px;
    margin: 10px;
}

.songtitle {
    font-family: 'Bold';
}

.albumart_img img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    object-fit: cover;
  }

.playbutton {
    width: 100%;
    height: 0;
    text-align: center;
    position: relative;
    top: max( calc( -138px - 2rem) , calc( 10px - 25vw - 2rem ) );
}

.playbutton i {
    font-size: 4rem;
    color: var(--white);
}

.tracks {
    margin: 10px;
    width: max(calc(100vw - 296px), 50%);
}
  
.tracklist {
    width: 100%;
    overflow-x: scroll;
    border-radius: 5px;
}

.track_title {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.track_add {
    width: 100%;
    border-radius: 5px;
    background-color: var(--accent);
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.track_add i {
    color: var(--white);
    font-size: 2rem;
}